.pico-argos-performance-label {
  font-family: monospace;
  min-width: 11em;
  max-width: 11em;
  text-align: center;
}

.pico-argos-content {
  spacing: 0.25em;
}

.pico-argos-appearance-compact {
  spacing: 0.2em;
}

.pico-argos-appearance-monospace .pico-argos-label {
  font-family: monospace;
  font-size: 13px;
  font-feature-settings: "tnum";
}

.pico-argos-appearance-accent .pico-argos-label {
  font-size: 16px;
}

.pico-argos-appearance-accent.pico-argos-severity-normal .pico-argos-label {
  color: -st-accent-color;
}

.pico-argos-severity-positive {
  color: #33d17a;
}

.pico-argos-severity-warning {
  color: #f5c211;
}

.pico-argos-severity-critical {
  color: #ed333b;
}

.pico-argos-stale {
  opacity: 0.65;
}
